<div class="vote-form" id="vote-form-<%= id %>">
  <div class="right-content small-text">
    <p class="form-admin-username"><%= admin %></p>
    <p>-</p>
    <p class="form-creation-date"><%= created %></p>
  </div>

  <h3 class="form-name"><%= name %></h3>
  <div class="form-closing-date-bundle">
    <p class="form-closing-date-label">Closing at:</p>
    <p class="form-closing-date-time"><%= closing %></p>
  </div>

  <p class="form-desc"><%= description %></p>
  <div class="form-vote-fields">
    <% vote_fields.forEach(function(vote_field){ %> 
    <% var userVoted = user_vote_id.includes(vote_field.id) %>
    <div
      id="vote-field-<%= vote_field.id %>"
      class="vote-field <% if (userVoted) { %> form-voted-field <% } %>"
    >
      <div class="vote-bar-container">
        <% if (vote_field.votes_percentage) { %>
        <div
          class="vote-bar"
          <% // eslint-disable %>
          style="width: <%= vote_field.votes_percentage %>%"
          <% // eslint-enable %>
        ></div>
        <% } else { %>
        <div class="vote-bar" style="width: 0%"></div>
        <% } %>
        <div class="vote-input">
          <span
            ><input
              type="<% if (votes_type === 1) { %>radio<% } %><% if (votes_type === 2) { %>checkbox<% } %>"
              name="<%= name %>"
              <% if (userVoted) { %>checked <% } %>
          /></span>
          <div class="vote-bar-text"><%= vote_field.name %></div>
          <% if (vote_field.description){ %>
          <div class="tooltip-container">
            <span class="tooltip-trigger">⍰</span>
            <div class="tooltip"><%= vote_field.description %></div>
          </div>
          <% } %> <% if (votes_count.length > 0) { %>
          <div class="vote-bar-percents-verbal">
            <%= vote_field.votes_percentage %>%
          </div>
          <% } %>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
  <% if (votes_count.length > 0) { %>
  <div class="total-votes small-text">
    <p>Total votes: <%= total_votes %></p>
  </div>
  <% } %>
</div>
